.header {
    width: 100%;
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 2;
    white-space: nowrap;
}

.header h1 {
    grid-column: 14 / span 6;
    justify-self: center;
    color: white;
}

.button-1 {

    width: fit-content;
    padding: 10px 10px;
    font-size: 1.1rem;
    color: white;
    background-color: cornflowerblue;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform .2s linear, box-shadow .2s linear, margin 1s ease-out;
    min-width: 125px;
}
.button-1.small{
    display: none;
}
.button-1:hover {

    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.button-1:active {
    transform: translateY(0);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

#new-bug-button.button-1 {
    grid-column: 10 / 3 span;
}





@media screen and (max-width:1400px ) {
    #new-bug-button.button-1 {
        grid-column: 3 / 3 span;
    }
    .header h1 {
        grid-column: 14 / span 6;
        justify-self: center;
        color: white;
    }
}


@media screen and (max-width:700px ) {
    #new-bug-button.button-1 {
       display: none;
    }
    .button-1.small{
        display: block;
        grid-column: 3 / 3 span;
        min-width: fit-content;
    }
    .header h1 {
        grid-column: 16 / span 6;
        place-self: center;
        font-size: 2.2rem;
        color: white;
    }
}



/* The css below controls how the bugs are displayed, meaning the container that hold the title, wehere it is and the date */

.bug_report_container {
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 630px;
    padding: 10px 15px;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 5;
    user-select: none;
    justify-self: center;
    align-items: center;
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5) */
}

@media screen and (max-width:700px) {
    .bug_container{
        width: 100% !important;
        justify-content: center;
    }
    .bug_report_container{
        width: 100%;
    }
    .bug_container > span.bug_area,
    .bug_container > span.bug_date{
        display: none;
    }
    .bug_container > span.bug_title{
        text-align: center;
        width: fit-content;
    }
    .bug_container_header > span.bug_area, 
    .bug_container_header > span.bug_date{
        display: none;
    }

    .bug_container_header > span.bug_title{
        font-size: 2.2rem;
        text-align: center;

    }
}

.bug_container_header {
    width: 600px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

.bug_container_header>span {
    
    display: inline-block;
}

.bug_container_header>span.bug_title {
    padding-left: 5px;
}

.bug_container_header>span.bug_date {
    padding-right: 5px;
}

.bug_container {
    background-color: #6b84cb;
    width: 100%;
    display: flex;
    color: white;
    font-size: 20px;
    gap: 85px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform .2s linear, box-shadow .2s linear, margin 1s ease-out;
    margin-bottom: 10px;

}


.bug_container:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.bug_container:active {
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.new_bug {
    background-color: cornflowerblue;
}

.new_bug span {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.bug_container:hover .bug_area,
.bug_container:hover .bug_title,
.bug_container:hover .bug_date {
    /* width: fit-content; */
    overflow: visible;
}

.bug_title,
.bug_area,
.bug_date {
    width: 33.33%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: width .5s linear, overflow .5s linear;
    color: white;
}

.bug_title {
    text-align: left;
}

.bug_area {
    text-align: center;
}

.bug_date {
    text-align: right;
}


.blur {
    filter: blur(5px);
}