.main-flower {

    /* position: relative; */
    top: center;
    /* margin: auto; */
    /* top: 44%;
    left: 10%; */
    /* transform: translate(50%, -50%); */
    transform-origin: center;
    /* transform-box: view-box; */
    transform-style: preserve-3d;


}

svg path#trillium-center {
    fill: #6b84cb !important;
    transform-origin: center;
    animation: spin 5s linear 0s infinite reverse;
}


@keyframes spin {
    from {

        /* transform: rotate3d(0); */
        transform: rotateY(360deg);
    }

    to {

        /* transform: rotate3d(2, -1, -1, -0.2turn); */
        transform: rotateY(0deg);
    }

}

.notification-container {
    position: absolute;
    top: 100px;
    display: flex;
}

.main-flower path#trillium-pedals {
    fill: #6b84cb;
    stroke: white;
    stroke-width: 2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear infinite;
    /* transition: fill 1s linear 1s ; */
}



@keyframes dash {
    to {
        /* fill: black; */
        stroke-dashoffset: 0;
    }
}